<HR>
<BR/>

<P><B>Sources</B></P>

<P><B>A. Staging -</B> Based on Chris Sleath’s <%= link_to "post", "http://www.google.com/url?q=https%3A%2F%2Fwww.mygcx.org%2FGlobalTeam%2Fscreen%2Fmessages%3Fmessage%3D191%23message191&sa=D&sntz=1&usg=AFQjCNEacJDG0D3Ln5Aolc3BOsIBtFfuCA" %> and attached documents on the Global Team communication site on March 17, 2011.</P>

<P><B>B. Local Resource Generation -</B> Based on a spreadsheet obtained from IFM, February 2011.</P>

<P><B>C. Staff Demographics</B>
<UL>
<LI class="sub">i. Staff Count - Based on a spreadsheet obtained from LDHR, February 2011.</LI>
<LI class="sub">ii. GCX Profile Information - Snapshot of system data obtained in raw format on March 19, 2011 from the online system built by LDHR/GTO.</LI>
</UL>
</P>

<P><B>D. Ministry Metrics -</B> 2010 snapshot data obtained from the WHQ system on March 24, 2011.</P>

<P><B>E. Country Demographics -</B> obtained on a spreadsheet from Chris Deckert, Jesus Film Project, February 2011.</P>

<P><B>F. SLM Critical Measures -</B> obtained on a spreadsheet from Global Campus Office, March 2011.</P>
