
<BR/>
<BR/>
<BR/>

<P><BIG><B>Sources</B></BIG></P>

<SMALL>

<P><B>A. Staging -</B> Based on Chris Sleath’s <%= link_to "post", "https://www.mygcx.org/GlobalTeam/screen/messages?message=191#message191" %> and attached documents on the Global Team communication site on March 17, 2011.</P>

<P><B>B. Local Resource Generation -</B> Based on a spreadsheet obtained from IFM, February 2011.</P>

<P><B>C. Staff Demographics</B>
<UL>
<LI class="sub">i. Staff Count - Based on a spreadsheet obtained from LDHR, February 2011.</LI>
<LI class="sub">ii. GCX Profile Information - Snapshot of system data obtained in raw format on March 19, 2011 from the online system built by LDHR/GTO.</LI>
</UL>
</P>

<P><B>D. Ministry Metrics -</B> 2010 snapshot data obtained from the WHQ system on May 27, 2011.<br/>
<ul>
  <li class="sub">Live Exposures - aggregate of all monthly data submitted at the country level</li>
  <li class="sub">Live Decisions - aggregate of all monthly data submitted at the country level</li>
  <li class="sub">Growth Group Members - average of all submitted monthly data (option to include or exclude zeros) *</li>
  <li class="sub">Movement Members - average of all submitted monthly data (option to include or exclude zeros) *</li>
  <li class="sub">Movement Leaders - average of all submitted monthly data (option to include or exclude zeros) *</li>
  <li class="sub">New Staff - aggregate of all monthly data submitted at the country level</li>
  <li class="sub">Lifetime Labourers - aggregate of all monthly data submitted at the country level</li>
</ul>
<br/>
<p class="sub">* for areas/global the value displayed is the sum of all the countries averages</p>
</P>

<P><B>E. Country Demographics -</B> obtained on a spreadsheet from Chris Deckert, Jesus Film Project, February 2011.</P>

<P><B>F. SLM Critical Measures -</B> obtained on a spreadsheet from Global SLM Office, March 2011.</P>

</SMALL>
