<div id="<%= id %>" class="gcx_stat_wrapper" style="">
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    var r = Raphael("<%= id %>");
    r.g.txtattr.font = "12px 'Fontin Sans', Fontin-Sans, sans-serif";

    r.g.text(320, 50, "Interactive Pie Chart").attr({"font-size": 20});

    var pie = r.g.piechart(320, 200, 100, 
      [ <%= stat.keys.compact.sort.collect{ |k| stat[k] }.join(", ") %> ], 
      //[55, 20, 13, 32, 5, 1, 2, 10], 
      { legend: [ <%= 
        stat.keys.compact.sort.collect{ |k| 
          str = (k == "" || k.nil?) ? "No value entered" : k
          total = stat.values.sum
          val = stat[k].is_a?(Float) ? "(#{number_to_percentage(stat[k])})" : 
            "(#{number_with_delimiter(stat[k])} :: #{number_to_percentage((stat[k].to_f / total) * 100, :precision => 0)})"

          "\"#{str} #{val}\""
        }.join(', ') %> ], legendpos: "west" });
      //{legend: ["%%.%% – Enterprise Users", "IE Users"], legendpos: "west", 
      //  href: ["http://raphaeljs.com", "http://g.raphaeljs.com"]});
    pie.hover(function () {
      this.sector.stop();
      this.sector.scale(1.1, 1.1, this.cx, this.cy);
      if (this.label) {
        this.label[0].stop();
        this.label[0].scale(1.5);
        this.label[1].attr({"font-weight": 800});
      }
    }, function () {
      this.sector.animate({scale: [1, 1, this.cx, this.cy]}, 500, "bounce");
      if (this.label) {
        this.label[0].animate({scale: 1}, 500, "bounce");
        this.label[1].attr({"font-weight": 400});
      }
    });
  });
</script>
