<div id="banner_bg">
  <div id="banner_img">
    <a id="leftBubble" href="<%= url_for :controller => "groups", :action => "join" %>">
      <%= image_tag "/images/bannerleftbubble.png", :class => "mouseover" %>
    </a>
    <a id="rightBubble" href="<%= edit_person_timetable_path(@me.id, (@my.timetable || Timetable.create(:person_id => @me.id)).id) %>">
      <%= image_tag "/images/bannerrightbubble.png", :class => "mouseover" %>
    </a>
  </div>
</div>
