<a id="leftBubble" href="<%= url_for :controller => "groups", :action => "join" %>" alt="Join a Group">
  <span class="image">&nbsp;</span>
</a>
<a id="rightBubble" href="<%= edit_person_timetable_path(@me.id, (@my.timetable || Timetable.create(:person_id => @me.id)).id) %>" alt="Update My Schedule">
  <span class="image">&nbsp;</span>
</a>
