<div class="modulecontent">
  <ul class="groupicon">
    <% @person.groups.each do |group| %>
      <li>
        <%= link_to(group.name, group) %>
        <%- if authorized?(:accept_request, :group_involvements) || 
              authorized?(:decline_requests, :group_involvements) %>
          <ul class="requesticon">
            <%= render :partial => 'groups/member_request', :collection => group.requests, 
              :locals => { :source => 'dashboard' } %>
          </ul>
        <%- elsif group.has_requested(@me) -%>
          [Awaiting join request decision]
        <%- end -%>
      </li>
    <%- end -%>
  </ul>
  <br />
  <%= link_to "#{image_tag 'joinagroupbutton.png'}", :controller => "groups", :action => "join"%> 
  <%- tooltip do -%> 
    Click here to go to the page where you can request joining a group. 
  <%- end -%>
</div>
