<div id="dashboardInsightsContainer">
  <div id="insightsSubTitle">
    Indicated decisions
  </div>
  <% if @insights_campus.present? && @campus_indicated_decisions.present? %>
  <div id="campusInsights" class="insight">
    <div class="number"><%= @campus_indicated_decisions %></div>
    <%= @insights_campus.desc %>
  </div>
  <% end %>
  <div id="totalInsights" class="insight">
    <div class="number"><%= @total_indicated_decisions %></div>
    Canada
  </div>
  <br/>
</div>
