<% @site_title = 'Dashboard' -%>
<div class="welcome">
<div class="sectionHeader">
	<h2>Welcome to the Ministry Tracker</h2>
</div><br/>
<%- if @ministry -%>

<div class="hidememessage" style="display:none;">
<p>The first thing you're probably going to want to check out is the "Directory"
tab. The directory tab is the main data entry arena.</p>
<p>The "Profile" tab is all about you. It's where you keep your personal information
up to date. It's also a launching point for managing the different areas of ministry
you're responsible for.</p>
<p>This "Dashboard" area will keep you informed of new features we have added to 
this system, along with any other information we think would be helpful to you.</p>
<div class="closebox">
  <a href="">Hide this message</a>
</div>
</div>


<div id="dashwrap">

  <div id="col_1">
  
    <div class="dashmodule">
      <div class="moduletitle">
        <h2>Search the Directory</h2>
        <div class="modulecontrols">
          <a href="" class="minmodule"></a>
          <a href="" class="movemodule"></a>
          <a href="" class="closemodule"></a>
        </div>
      </div>
      <div class="modulecontent">
      
        <div class="modulesearchbox">
        <input type="text" class="searchdash" />
        <input type="submit" class="searchdashsubmit" value="Search"/><br />
        <small><a href="">Advanced Search</a></small>
        </div>
        
        <h6>Recent Searches</h6>
        <div class="lightgray">
          <ul class="searchicon">
            <li>David Sudarma: Male</li>
            <li>Men, Age 20-24, Wednesday Night</li>
          </ul>
        </div>
      
      </div>
    </div>
    
    
    <div class="dashmodule">
      <div class="moduletitle">
        <h2>Quick Tools</h2>
        <div class="modulecontrols">
          <a href="" class="minmodule"></a>
          <a href="" class="movemodule"></a>
          <a href="" class="closemodule"></a>
        </div>
      </div>
      <div class="modulecontent">
        <ul >
          <li><a href="">Add a person</a></li>
          <li><a href="">Create a team</a></li>
          <li><a href="">Create a Ministry</a></li>
          <li><a href="">Go to the Directory</a></li>
          <li><a href="">Schedule a meeting</a></li>
        </ul>
      </div>
    </div>
  
  <div class="clear"></div>
  
  </div><!-- col 1 -->
  
  <div id="col_2">
  
    <div class="dashmodule">
      <div class="moduletitle">
        <h2>My Groups</h2>
        <div class="modulecontrols">
          <a href="" class="minmodule"></a>
          <a href="" class="movemodule"></a>
          <a href="" class="closemodule"></a>
        </div>
      </div>
      <div class="modulecontent">
        <ul class="groupicon">
          <li>Soccer Outreach</li>
          <li>Dining Common for Jesus</li>
          <li>Poker Night Club</li>
          <li>Modest Dancing in the Quad</li>
          <li>Ping Pong Outreach</li>
          <li>Librarians Underground in the Basement</li>
          <li>I smell like a mouse</li>
          <li>Asians Only Anonymous</li>
        </ul>
      </div>
    </div>
  
    
    
    
    <div class="dashmodule">
      <div class="moduletitle">
        <h2>Statistics</h2>
        <div class="modulecontrols">
          <a href="" class="minmodule"></a>
          <a href="" class="movemodule"></a>
          <a href="" class="closemodule"></a>
        </div>
      </div>
      <div class="modulecontent">
      <ul>
        <li><a href="">People in all ministries: 987</a></li>
        <li><a href="">Number of Bible Studies: 50</a></li>
        <li><a href="">Number of Teams: 10</a></li>
        <li><a href="">Ministries: 4</a></li>
      </ul>
      <br>
      <h6>Newest People</h6>
        <div class="lightgray">
          <ul class="searchicon">
            <li>George Brown</li>
            <li>Richard Marx</li>
            <li>Deng Xiao Ping</li>
            <li>Lee Kwan Yu</li>
          </ul>
        </div>
      
      
      </div>
    </div>
  
  <div class="clear"></div>
  
  </div><!-- col2 -->

<div class="clear"></div>
</div>



<%- else -%>
<p>You currently aren't associated with any ministry. This could be because the leader of your ministry hasn't put you in the system.
	It could also be because the email address your leader has for you is different from the email address you used to log in.
	<!-- If you think this is the case, please <%#= link_to_remote "click here to try other email addresses." %> -->
	</p>

<%- end -%>
</div>