<h1>Listing developers</h1>

<ul id="developers">
  <%= render :partial => 'developer', :collection => @developers %>
</ul>
<br />

<%- form_remote_tag :url => formatted_developers_path(:js), :method => :post do -%>
  Email: <%= text_field_tag :email %>
  <%= submit_tag 'Add Developer' %>
<%- end -%>