  
  <%- if Cmt::CONFIG[:gcx_enabled] == true -%>
  <table>
  <tr>
    <td width='125'><%= link_to '<img src="http://technology.ccci.org/gcx/images/288-GCX-logo.gif" width="100px"/>', 
                    CASClient::Frameworks::Rails::Filter.login_url(controller) %></td>
    <td><br /><br /><%= link_to 'Login to GCX', CASClient::Frameworks::Rails::Filter.login_url(controller) %></td>
  </tr>
  </table>
  <br /> 
  <br />
  <%- end-%>

  
  <%- if Cmt::CONFIG[:local_enabled] == true -%>
      <div id="local_form">
      <%= render :partial => 'local_form' %></div> 
  <%- end -%>







