log/*.log
log/*.pid
tmp/**/*
config/database.yml
config/mappings.yml
config/amazon_s3.yml
config/memcached.yml
.DS_Store
doc/api
coverage
config/deploy.rb
public/imports
public/javascripts/all.js
public/stylesheets/all.css
config/initializers/uscm_prod.rb
config/initializers/cache_money.rb
config/facebook.yml
query_trace
nbproject/
*.swp
public/profile_pictures
*~
.project
config/initializers/cmt_config.rb