log/*.log
log/*.pid
tmp/**/*
config/database.yml
config/amazon_s3.yml
config/memcached.yml
config/facebooker.yml
.DS_Store
doc/api
coverage
public/imports
public/javascripts/all.js
public/stylesheets/all.css
config/initializers/uscm_prod.rb
config/initializers/cache_money.rb
config/initializers/eventbright.rb
query_trace
nbproject/
db/development_structure.sql
*.swp
*.swo
public/profile_pictures
*~
.project
config/initializers/cmt_config.rb
config/database_root.yml
config/database/database_header.yml
public/c4c_pulse_test.imports
public/c4c_pulse_test.profile_pictures
public/utopian_common_test.profile_pictures
public/utopian_pulse_test.imports
.bundle
