<%- if authorized?(:edit) -%>
	<%= render :partial => 'bible_studies' %>
<%- else -%>
	<%- ministry = nil -%>
	<%- @bible_studies.each do |bs| -%>
		<%- if bs.ministry != ministry 
				ministry = bs.ministry-%>
			<h4 class="title"><%= bs.ministry.name %></h4>
		<%- end -%>
		<%= link_to(bs.name, bible_study_url(bs)) %><br />
	<%- end -%>
<%- end -%>