<%= error_messages_for 'training_category' %>
<%- remote_form_for @training_category, :before => "$('#spinnertc').show();" do |f| -%>
  <p>
    Name: <%= f.text_field :name %>
  </p>
  <p>
   <%= submit_tag 'Save' %> or <%= link_to_function 'cancel', "$('#new_training_category_link').show();$('#training_category').fadeOut()",
	 															:class => 'cancel'%>
  </p>
<% end %>