<h1>Editing training_category</h1>

<%= error_messages_for :training_category %>

<%= render :partial => 'form' %>

<%= link_to 'Show', @training_category %> |
<%= link_to 'Back', training_categories_path %>
