Thank you for signing up for a group in the Pulse and/or updating your timetable.  If you need to submit or update your timetable, please follow the link below to do so.  A group leader will contact you via email once you are placed in a group.

<A HREF="<%= @link %>" target="_blank"><%= @link %></A>
