<HTML>
  <P>Thank you for signing up at the Pulse.  To continue the signup process, please follow this link to verify your email to allow you to join a group and submit your timetable.</P>

  <P><A HREF="<%= @link %>" target="_blank"><%= @link %></A></P>

  <P>If you have any problems verifying your email, please contact helpdesk@c4c.ca.</P>
</HTML>
