<html>
  <p><%= @reviewer_first_name %>,</p>

  <p><%= @submitter_name %> has submitted their summer schedule and it's now waiting for your review.</p>

  <p><%= link_to "Click here to go there now.", @review_link %></p>

  <p>Thank you for using the Pulse!</p>
</html>
