<h4>
  <% if authorized?(:edit, :campus_involvements) && !(is_staff_somewhere(@person) && !is_staff_somewhere(@me)) %>
    <%= link_to_remote "", {:url => person_campus_involvements_url(@person), :method => :get,
          :before => "$('#spinnerCampuses').show()", :success => "$('#spinnerCampuses').hide(); show_dialog('#{I18n.t("profile.manage_campuses.title")}')"},
                            {:title => "Edit #{@person == @me ? 'your' : @person.first_name+"'s"} campus involvements",
                             :class => "editInvolvementIconLink"} %>
  <% end %> <%= t('profile.left_bar.campuses.header') %>
  <%= spinner('Campuses', 'opaqueWhite') %>
</h4>
<ul id='profile_campuses'>
  <%- @person.campus_involvements.each do |ci| 
        if ci.end_date.nil?
  -%>
        <%= render :partial => 'profile_campus_li', :locals => { :ci => ci } %>
  <%-
        end
      end
  -%>
</ul>
