<td id ="current_address_state_dropdown">
<% state = @person && !@person.new_record? && @person.current_address ? @person.current_address.state : "" %>
		<%= select :current_address, :state, options_for_select(states, state), :prompt => true %>
</td>