<h4 style='display:inline'>Events</h4>
<ul id='profile_events'>
  <%- @person.cim_reg_events.each do |reg| -%>
    <%- next if reg.hide_from_profile -%>
    <li><%= reg.event_name %><li>
  <%- end -%>
</ul>
