<table class="halftab">
  <!--
  <tr>
    <th>Primary campus:</th>
    <td><%= select :person, :primary_campus_involvement_id, options_for_select(@person.campus_involvements.collect{ |ci| [ ci.campus.name, ci.id ] }) %></td>
  </tr>
  -->
  <%- if @primary_campus_involvement.present? && !@primary_campus_involvement.new_record? %>
  <tr>
    <th>Graduation Date</th>
    <td><%= date_select :primary_campus_involvement, :graduation_date %></td>
  </tr>
  <%- end -%>
	<tr>
		<th>Major</th>
		<td><%= text_field :person, :major %></td>
	</tr>
	<tr>
		<th>Minor</th>
		<td><%= text_field :person, :minor %></td>
	</tr>
</table>
