
  <ul id='profile_mentees'>
    <%- Person.find_all_by_mentor_id(@person.id).each do |mentee| 
    -%>
          <%= render :partial => 'profile_mentee_li', :locals => { :mentee => mentee } %>				
    <%- end -%>
		<br>
     <div id="search_mentee">
       <%= render :partial => "mentee_search_box", :locals => { :person => @person, :q2 => @q2 } %> 
     </div> 
  </ul>
