  <ul id='profile_mentor'>
		<li id="mi_<%= @person.person_mentor_id %>">
			<%- if @person.person_mentor_id != nil -%>						
         <%- mentor = Person.find(@person.person_mentor_id) -%>	 
	       <%= link_to_remote(image_tag('silk/link_break.png'), 
		        :update => "mi_#{@person.person_mentor_id}",
		        :url => { :action => :remove_mentor, :params => {:id => "#{@person.id}"}  },
		        :confirm => "Are you sure you want to remove #{@person.full_name} from being mentored by #{mentor.full_name} ?", 
		        :loading => "$('#spinnerm').show()", :complete => "$('#spinnerm').hide()")  if authorized?(:remove_mentor, :people) || @person == @me %>
				 <%= mentor.full_name %>
			<%- else -%>  <!-- no mentor found, show search box -->
			   <div>
			   	 No mentor currently
			   </div>			 
				 <br>
			   <div id="search_mentor">		   
           <%= render :partial => "mentor_search_box", :locals => { :person => @person, :q => @q } %>	
				 </div> 
      <%- end -%>  
		</li>
  </ul>