
  <ul id='profile_mentees'>
    <%- Person.find_all_by_mentor_id(@person.id).each do |mentee| 
    -%>
          <%= render :partial => 'profile_mentee_li', :locals => { :mentee => mentee } %>				
    <%- end -%>
		  <div class="floatLeft"><%= spinner('m2') %></div>
  <div id="progress-bar"></div>
  </ul>
  <br>
  <div id="search_mentee">
    <%= render :partial => "mentee_search_box", :locals => { :person => @person, :q2 => @q2 } %> 
  </div> 