<div id="mentee_<%= @person.id %>">
<h1>Access denied!</h1>
<p><b>You are not allowed to view information for <br><%= mentee.full_name %>.</b><br>
Please contact your local Pulse administrator or the Pulse HelpDesk if you think you should be able to view this page.</p>
</div>