<li id="mi_<%= mi.id %>">
<%= link_to_remote(image_tag('delete.png'), :url => person_ministry_involvement_path(@person, mi, :from_profile => true),
      :confirm => "Are you sure you want to remove #{@person == @me ? 'yourself' : @person.first_name} from #{mi.ministry.name}?",
      :method => :delete,
      :before => "$('#spinner').show()")  if @me == @person || authorized?(:new)
%>
<%= link_to_remote(mi.ministry.name,
      :url => change_ministry_and_goto_directory_people_url(:current_ministry => mi.ministry.id),
      :method => :get)
%> <%= mi.ministry_role.try(:name) %>
</li>
