<% person_label ||= mini_label_li %>
<li class="personLabel mini" title="<%= person_label.content %>">
  <span class="personLabelContent">
    <span id="plabel_<%= person_label.id %>" class="has_title">
      <%= person_label.acronym %>
    </span>
  </span>
</li>
