<%= render :partial => 'profile_label_li', :collection => @person.labels %>

<% if authorized?(:add_profile_label, :people) %>
	<%= form_remote_tag(:url => set_label_person_path(@person.id), :html => { :name => "label_add_form", :id => "label_add_form"}) %>
	    <% if Label.count > 0 %>
	      <div class="personLabelAdd">
	        <%= select_tag(:label, options_for_select([['Add Label', nil]] + Label.all.collect{|label| [ label.content, label.id ]}, nil)) %>
	        <%= observe_field(:label, {:function => "performLabelAdd();"}) %>
	      </div>
	    <% end %>
<% else %>
	<br>
<% end %>
