<ul id='profile_projects'>
  <%- if @person.user.present? %>
    <%- @person.user.attending_profiles.each do |profile| %>
      <li><%= profile.try(:project).try(:pulse_name) || profile.try(:project).try(:title) %></li>
    <%- end %>
  <%- end %>
</ul>
