<% person_label ||= profile_label_li %>
<li class="personLabel">
  <span class="personLabelContent">
    <span id="plabel_<%= person_label.id %>">
      <%= person_label.content %>
      <%= link_to_remote('×',
        :html => { :class => 'personLabelRemove', :title => "Remove label '#{person_label.content}'" },
        :update => "plabel_#{person_label.id}",
        :url => { :action => :remove_label, :params => {:label_id => "#{person_label.id}", :person_id => @person.id} },
        :confirm => "Are you sure you want to remove the '#{person_label.content}' label from #{@person.full_name} ?",
        :loading => "$('#label').fadeOut('fast', function() { $('#spinnerlbls').fadeIn('fast'); });",
        :complete => "$('#spinnerlbls').fadeOut('fast', function() { $('#label').fadeIn('fast'); }); $('#plabel_#{person_label.id}').parent().parent().remove();") if authorized?(:remove_label, :people) %>
    </span>
  </span>
</li>
