<div style="display:none" id="uploadPicture" class="passwordbox">
  <%- @upid = Time.now.to_i.to_s -%>
  <%- form_for([@person, @profile_picture], :html => {:multipart => true}) do |f|  -%>
    <div class="popupfield">
      <br/>
      <p><%= t('profile.picture.instructions') %>:</p>
    	
		  <%= f.file_field :uploaded_data, :size => '18px' %>
		  <%#= f.hidden_field :person_id %>
		  <br/>
		  <br/>
		  <%= f.submit t('profile.picture.upload_button'), :id => 'upload', :class => "action-button", :onclick => "tb_remove(); $('#spinner').show()" %>
	  </div>
	  <br/>
	  <%= link_to_function(t('misc.cancel'), "tb_remove()") %>
  <%- end -%>
</div>
