<% remote_form_for @person, :url => set_initial_campus_person_url(@person.id), :before => "$('#spinnerp').show()", :complete => "$('#spinnerp').hide()" do %>
  <div>Please choose your campus. <%= spinner('p') %></div>
  <div id='errors'>
    <%= error_messages_for 'campus_involvement' %>
  </div>
  <%= render :partial => 'primary_campus_involvement' %>
  <%= submit_tag 'Save' %>
<% end %>
