<%=
  path = "/discover_contacts/#{ discover_contact.id }/edit"
  result = %(<div class="autoCompleteResult discoverContact#{ index == 0 ? ' first' : '' }">) +
           %(<div class="acLinkPath" style="display: none;">#{ path }</div>) +
           %(<div class="autoCompletePic butProfile">#{ link_to '', path }</div>) +

           %(<div class="autoCompleteInfo">) +
           %(<div class="autoCompleteName">#{ discover_contact.first_name.capitalize } #{ discover_contact.last_name.capitalize }</div>)

  result += %(<div class="autoCompleteExtraInfo">#{ ac_info_for_contact(discover_contact) }</div>) +
            %(</div>) +
            %(</div>)

  result
%>