<div class='autoCompletePic'><%= ac_profile_picture_for_person(mentor_ac) %></div><div class='autoCompleteName'><%= mentor_ac.full_name %></div><div class='autoCompleteInfo'><%= mentor_ac.staff_role_ids.blank? ? mentor_ac.campuses_concat : mentor_ac.ministries_concat %></div><div class='hiddenMentorID'><%= mentor_ac.person_id %></div>
