<div class='autoCompletePic'><%= ac_profile_picture_for_person(mentee_ac) %></div><div class='autoCompleteName'><%= mentee_ac.full_name %></div><div class='autoCompleteInfo'><%= mentee_ac.staff_role_ids.blank? ? mentee_ac.campuses_concat : mentee_ac.ministries_concat %></div><div class='hiddenMenteeID'><%= mentee_ac.person_id %></div>
