
<h1 id="reportTitle">Search the Web</h1>

<% if @q.present? %>

<div id="searchHeaderInfo">
</div>

<div id="searchFilterControlsContainer">
  <%= render :partial => "filter_controls" %>
</div>

<div id="searchResultsContainer">
  <br/>
  
  <% if session[:search][:authorized_to_search_web] %>
    <%= render :partial => "web_results", :locals => { :pagination => true } %>
  <% end %>

</div>


<% else %>

<br/>
<p><h3>Don't be shy, search for something by using the search box!</h3></p>

<% end %>