<%- remote_form_for @ministry_involvement do |f| -%>
  	<p>Role: 
  	<%= f.select :ministry_role, MinistryInvolvement::ROLES %></p>
    <p><%= f.check_box :admin %> Admin</p>
    <p><%= f.submit %> or <%= link_to_function 'cancel', "$('#campus_form#{@staff.id}').blindUp();",
 															:class => 'cancel' %></p>
<%- end -%>