<div id="dialog">
  <ul id='ci_list'>
    <%= render :collection => @ministry_involvements, :partial => 'ministry_involvement_li' %>
    <li id='new_ministry_li'>
      <%= link_to_remote image_tag('add.png') + ' Add Ministry', :url => new_person_ministry_involvement_url(@person.id), :method => :get, :with => %|'already=' + $('#new_ministry_involvement').is(':visible')| %>
    or
      <a id="TB_closeWindowButton" href="#">close</a>
    </li>
  </ul>
</div>
