<li id='new_ministry_involvement_li'>
<div class='inline_ajax_form'>
<% remote_form_for(@ministry_involvement, 
                   :url => person_ministry_involvements_url(@person.id),
                   :method => :post) do |f| %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save' %>
  or
  <%= link_to_function 'cancel', '$("#new_ministry_involvement_li").replaceWith("");' %>
<% end %>
<div/>
</li>
