<tr id="dorm_tr"<%- unless @dorms.present? -%> style="display:none"<% end %>>
  <td class="label">Dorm </td>
  <td><%= select :person, :local_dorm, (@dorms || []).collect(&:name), :include_blank => true %> <small> Not required</small></td>
</tr>
