<%- instruction_block do %>
  <B>You're done!</B>  You'll receive further information once groups are set up.  Clicking the 'Finished' button will take you
  <% if session[:from_facebook_canvas] == true %>
    back to Facebook!
  <% elsif logged_in? %>
    back to the dashboard.
  <% else %>
    back to the Sign In page.
  <% end %>
<%- end %>

<center>
  <%= render :partial => 'jquery_ui_progress', :locals => { :current_step => "done" } %>
</center>

<div class="center">
  <%= link_to "Back", { :action => "step3_timetable" }, :class => "action-button" %> &nbsp;&nbsp;

  <% if session[:from_facebook_canvas] == true %>
    <%= link_to "Finished", Facebook::FANPAGE_URL, :class => "action-button" %>
  <% else %>
    <%= link_to "Finished", { :controller => :signup, :action => :finished }, :class => "action-button" %>
  <% end %>
</div>
