<%- instruction_block do %>
<B>You're done!</B>  You'll receive further information once groups are set up.  Clicking the 'Finished' button will take you <% unless logged_in? %> back to the Sign In page.<% else %> back to the dashboard.<% end %>
<%- end %>

<center>
  <%= render :partial => 'progress', :locals => { :done => true } %>
</center>

<DIV class="center">
  <%= link_to "Back", { :action => "step3_timetable" }, :class => "action-button" %> &nbsp;&nbsp;
  <%= link_to "Finished", { :controller => :signup, :action => :finished }, :class => "action-button" %>
</DIV>
