<P>Email is alread in the system.  If this email is yours, please click the send button and an email will be sent to <%= @email %> so that you can finish joining a group process.  This is to ensure that you own this email address.  If this is not you, plase hit the back button and use another email address.</P>

<% form_tag :controller => :signup, :action => :step1_verify_submit do %>
  <%= submit_tag "Verify Email" %>
<% end %>
