  
  <div id = "tree_and_info">
  Campus: <i><b> <%= @cur_min_camp.campus.name %> </b></i><br />
  Ministry:<i><b> <%= @cur_min_camp.ministry.name %></b></i><br />
  <%- if @cur_tree_head -%>
    Head of Tree: <i><b> <%= @cur_tree_head.full_name %> </b></i> 
    <br />
    <br />
    <%= render :partial => 'tree', :locals => {:head => @cur_tree_head} %>
  <%- else -%>
      <br />
      This tree does not have a head. Therefore there is no tree.
  <%- end -%>
  </div>
