<%- if head -%>
	<h4> Responsible Person Tree: </h4>
	<br />
    <%= head.full_name %>, &nbsp
    <%= head.ministry_involvements.find_by_ministry_id(@ministry.id).ministry_role.name %>
  <br />
  <%= render :partial => 'children', :locals => {:parent => head, :count => 1} %>
  
  
<%- else -%>
  Please select a staff from the this campus to be at the top of the Responsible Person Tree.
<%- end -%>
