<div id="addStudent" style="display:none">
<% remote_form_for(person || Person.new,
              :loading => "close_thickbox()") do |f| %>
  <%= hidden_field_tag :modalbox, true %>
  <%= render :partial => 'students/form', :locals => {:f => f} %>

  <p>
  <%= submit_tag "Save", {:id => 'save'} %> <%= spinner('form') %>
  or <a id="TB_closeWindowButton" href="#">cancel</a></p>
<% end %>

</div>
