<h1>Listing timetables</h1>

<table>
  <tr>
  </tr>

<% for timetable in @timetables %>
  <tr>
    <td><%= link_to 'Show', timetable %></td>
    <td><%= link_to 'Edit', edit_timetable_path(timetable) %></td>
    <td><%= link_to 'Destroy', timetable, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New timetable', new_timetable_path %>
