<%- if @me == @timetable.person || authorized?('edit', 'timetables') -%>
  <div class="butNormal" style="margin-top:20px;">
    <%= link_to('Edit timetable', edit_person_timetable_path(@person, @timetable)) %>
  </div>
<%- end -%>
<div class="statusheadwrap">
<div class="badhead"></div>
<div class="poorhead"></div>
<div class="okayhead"></div>
<div class="goodhead"></div>
</div>

<%= render :partial => 'timetable' %>
