<%- if @me == @timetable.person || authorized?('edit', 'timetables') -%>
  <div class="butNormal">
    <%= link_to('Edit timetable', edit_person_timetable_path(@person, @timetable)) %>
  </div>
<%- end -%>
<br/><br/>
<%= render :partial => 'timetable' %>
