<%- if @me == @timetable.person || authorized?('edit', 'timetables') -%>
  <div class="butNormal" style="margin-top:20px;">
    <%= link_to('Edit timetable', edit_person_timetable_path(@person, @timetable)) %>
  </div>
<%- end -%>
<div class="statusheadwrap">
<a href="" class="badhead"></a>
<a href="" class="poorhead"></a>
<a href="" class="okayhead"></a>
<a href="" class="goodhead"></a>
</div>

<%= render :partial => 'timetable' %>
