<p>
  <br>
  <br>
  <small>P2C will under no circumstances send any communication to your contacts.<br>This is a personal tool for you to use to see how God is working in your friends' lives.</small>
</p>