div#link_bar_wrapper {
    width: 100%;
    padding-top: 1px;
    margin-bottom: 7px;
}

div#link_bar {
    display: block;
    height: 22px;
    padding: 3px 8px 0;
    font-size: 13px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

div#tools {
  float: left;
}

div#tools nobr, div#user nobr, div.link_menu_box {
  padding-top: 1px;
  font-size: 13px;
}

div#user {
  text-align: right;
}

div#link_bar .ll {
  margin-right: 0.6em;
}

div#link_bar .rl {
  margin-left: 0.6em;
}

div#link_bar a, div#link_bar u {
  color: #1F429B;
  text-decoration: underline;
}

div#link_bar a:hover, div#link_bar u:hover {
  color: #1F429B;
}

div.link_menu_box {
  display: none;
  position: absolute;
  text-align: left;
  top: 24px;
  right: auto;
  padding-bottom: 3px;

  border: 1px solid #1F429B;
  border-top: 0;
  z-index: 1001;
  background: #E6E6E6;

  -moz-box-shadow: 1px 4px 5px #C8C8C8; -webkit-box-shadow: 1px 4px 5px #C8C8C8;
  -moz-border-radius: 5px; -webkit-border-radius: 5px;
}

div.link_menu_box a {
  padding: 0.2em 0.6em;
  display: block;
  text-decoration: none;
}

div.link_menu_box a:hover {
  color: #1F429B;
  text-decoration: underline;
}

div#link_bar a.menu_link {
  text-decoration: none;
}

div#link_bar small {
  color: #1F429B;
}

div#link_bar a.log_out {
  padding: 1px 0 0 20px;
  background-image: url(/images/silk/door_out.png);
  background-repeat: no-repeat;
}
