
body {
	margin: 0;
	padding: 0;
  text-align: center;
  font-family: Helvetica, Arial, Sans-Serif;
}

/******************************/
/* Login page                 */
/******************************/

#banner_container {
  height: 234px;
}

#banner_container #banner_bg {
  width:100%;
  background: url("/images/log_in_bkg.png") repeat scroll transparent;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

#footer_container {
  height: 200px;
}

#c4c_logo {
  position: relative;
  left: -290px;
  top: 0px;
  padding: 25px;
}

#disco_change {
  position: relative;
  left: -45px;
  top: 25px;
}

#pulse_explain {
  position: relative;
  left: -38px;
  top: 60px;
}

#create_logon {
  left: 110px;
  position: relative;
  top: 57px;
}

#help_link {
  position: relative;
  left: 130px;
  top: 60px;
}

img {
  border: 0;
}


/* ************* */
/* Flash Notices */
#flash_notice, .flash_notice {
  color: #585958;
  margin:20px;
  padding:10px;
  background:#FFCB05;
  font-size:14px;
  -moz-border-radius: 10px; -webkit-border-radius: 10px;
}

div.flash big {
  color: #585958;
}

div.flash b, div.flash_notice b  {
  color: #585958;
  font-weight: bold;
}


/****************************************************/
/* Special message for IE users                     */  
/****************************************************/

#browser_warning {
  text-align: center;
	font-family: Helvetica, Arial, sans-serif;
  color: #666666;
	margin: 30px 0 0 0;
}

#browser_warning b {
	color: red;
}
