
body {
	margin: 0;
	padding: 0;
}

/******************************/
/* Login page                 */
/******************************/

#banner_container {
  height: 234px;
  text-align: center;
}

#banner_container #banner_bg {
  width:100%;
  background: url("/images/log_in_bkg.png") repeat scroll transparent;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

#c4c_logo {
  position: relative;
  left: 450px;
  top: 0px;
  padding: 25px;
}

#disco_change {
  position: relative;
  left: 475px;
  top: 25px;
}

#pulse_explain {
  position: relative;
  left: 482px;
  top: 60px;
}

#create_logon {
  left: 630px;
  position: relative;
  top: 57px;
}

#help_link {
  position: relative;
  left: 650px;
  top: 60px;
}

img {
  border: 0;
}



/****************************************************/
/* Special message for IE users                     */  
/****************************************************/

#browser_warning {
  text-align: center;
	font-family: Helvetica, Arial, sans-serif;
  color: #666666;
	margin: 30px 0 0 0;
}

#browser_warning b {
	color: red;
}