<div style='float:right'>Campus: <%= select_tag 'campus_filter', grouped_options_for_select(@campus_filter_options, @campus_filter_default) %>
  <%= observe_field :campus_filter, 
    :function => %|document.location = "#{url_for(:controller => params[:controller], :action => params[:action])}?campus_filter="+$('#campus_filter')[0].value;|
  %>
</div>
