<div id="groups">
  <% campus_id = @campus ? @campus.id : nil %>
  <% gt = (gt.nil?) ? GroupType.find(@group_type_id) : gt%>
  <%- gt_groups = @joinable_groups.select{|g| g.group_type == gt} -%>

  <% unless gt_groups.empty? %>
    <%- gt_groups.each do |group| -%>
      <div id=<%= "group_#{group.id}" %> >
        <%= render :partial => 'joinable_group', :locals => {:joinable_group => group} %>
      </div>
    <%- end -%> 
  <% else %>
	   No groups to join under this category currently.
	   <br />
     <br />
  <% end %>
  <%- if flash[:notice_group] %><div class="flash notice" id="flash_notice"><%= flash[:notice_group]  %></div><%- end %>
</div>