<table id="legend" width="250px" cellspacing="0">
  <tr><th> <b>LEGEND</b> </th> 
  <td class="allgood"> Good for everyone </td>
  <td class="moregood"> Good or Okay for Everyone </td>
  <td class="neutral"> Bad for up to <%= Rational(@people.length, 4).to_i %>  people</td>
  <td class="morebad"> Bad for more than <%= Rational(@people.length, 4).to_i %>  people</td>
  <td class="allbad"> Bad for everyone</td></tr>
  
  <br />
</table>