<%- if !@notices.nil? && !@notices.empty? %>
	<div class="flash notice" id="flash_notice">
    <%- dash = @notices.length > 1 ? "-&nbsp;" : "" %>
    <%- @notices.each do |notice|  %>
      <%= dash %><%= notice %><br/>
    <%- end %>
  </div>
<%- end %>
