<%- if authorized?(:new, :groups) -%>
	<%= render :partial => 'groups' %>
<%- else -%>
	<%- ministry = nil -%>
	<%- @groups.each do |group| -%>
		<%- if group.ministry != ministry 
				ministry = group.ministry-%>
			<h4 class="title"><%= group.ministry.name %></h4>
		<%- end -%>
		<%= link_to(group.name, group_url(group)) %><br />
	<%- end -%>
<%- end -%>