<h2>Join a group&nbsp;&nbsp;<%= spinner('gt') %></h2>	  
<div id="customizebody" class="accordion">
	<%- @ministry.all_group_types.each do |gt| -%>
	  <% if !gt.groups.empty?%>
		<div>
			<div class="title"><%= gt.group_type %></div>
			<div id= <%="groupType" + gt.id.to_s %> 
			  <%= render :partial => 'groups/group_type_groups', :locals => {:gt => gt} %>
			</div>
       </div>
	  <%- end -%>
	<%- end -%>	
</div>
<script type="text/javascript" charset="utf-8">
    $(function(){
      $(".accordion").accordion({ header: ".title",
                                         autoHeight: false,
                                         clearStyle: true});
      $(".accordion .title").prepend('<span class="accordion_instructions">&nbsp;</span>')
    });
</script>
