<%# locals %>
<%# ministry_school_year - The current MinistrySchoolYear we're editing %>


<% form_for ministry_school_year do |msyf| %>
<table cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <td>Name</td>
      <td>Start</td>
      <td>End</td>
      <td>Notify</td>
      <td>Default</td>
    </tr>
  </thead>
  <tbody id="school_terms">
    <tr>
      <% msyf.fields_for :terms do |tf| %>
        <td><% tf.text_field :name %></td>
        <td><% tf.calendar_date_select :start %></td>
        <td><% tf.calendar_date_select :start %></td>
        <td><% tf.calendar_date_select :start %></td>
        <td><% tf.check_box :default %></td>
      <% end %>
    </tr>
  </tbody>
      
</table>
<% end %>
