<h5 ><%= training_category.name %> Items <span class="small">(added by <%= training_category.ministry.name %>)</span>
<table>
  <thead>
    <!-- <th width="20">&nbsp;</th> -->
    <th width="55">Activated</th>
    <th width="60">Mandated</th>  
    <th>Item</th>
  </thead>
  <tbody id="direct_training_questions_<%= training_category.id %>">
    <%= render :partial => 'training_questions/training_question', :collection => @ministry.all_training_questions.select {|tq| tq.training_category_id == training_category.id} %>
  </tbody>
</table>

<%#= sortable_element( "direct_training_questions_#{training_category.id}",
	:url => { :action => "reorder_training_questions", :id => training_category },
	:complete => visual_effect(:highlight, "direct_training_questions_#{training_category.id}" ),
	:handle => 'drag_me',
	:items => 'tr')
%>
<br/>