<div id="instructions">
	This screen allows you to choose a ministry to designate as your "parent" ministry. This will give the directors 
	of your parent ministry read-only access to see the information in your ministry (student involvement, etc). If you'd
	like the directors of your parent ministry to have more than read-only access, you can give that to them elsewhere.
</div>
<br />
<strong>Select your parent ministry.</strong>
<br />
<ul>
	<li><%= link_to_remote 'No Parent', :url => set_parent_ministry_url(0),
              											 	 :method => :get %></li>
	<%- @ministries.each do |ministry| -%>
	<li><%= link_to_remote ministry.name, :url => set_parent_ministry_url(ministry.id),
                											 	 :method => :get %></li>
	<%- end -%>
</ul>