<div id="user_group"></div>
<div id="permissions">
	<div class="right_list">
		<div class="title"><%= @ministry.name %> User Groups</div>
		<ul id="ministry_role_list">
		</ul>
	</div>
<%- if true -%>
	Before you can assign permissions you must create a user group. Permissions are assigned to groups. Users are put in groups. 
	If you put a user in more than one group, the user will have all the permissions from the combined groups. <br />
<%- else -%>
	Would you like to:<br />
	<%#= link_to_remote "Give people login accounts" %><br /><br />

<%- end -%>
</div>
