<table border="0" cellspacing="5" cellpadding="5">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Controller</th>
      <th>Action</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody id="permissions">
    <%= render :partial => @permissions %>
  </tbody>
</table>

<div class="butAdd" id="add_link"><%= link_to_remote('Add a new permission', :url => new_permission_path,
                                                    											 	 :before => "$('#spinner').show()",
                                                    											 	 :method => :get)%> <%= spinner %></div>
<br/>
<div id="permission" style="display:none"></div>