# Copy this file to config/mailer.yml

production:
  smtp:
    address:
    domain:
    port:
    user_name:
    password:
  notifier:
    app_name:
    subject_prepend:
    sender_address:
    exception_recipients: ['email address' , 'another email address']
