<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <p><%= @person[:first_name] %>,</p>

  <p>The following <%= @contacts_length > 1 ? "#{@contacts_length} contacts have" : "contact has" %> been assigned to you for follow-up:</p>

  <ul>
    <% @contacts.each do |contact| %>
      <li>
        <%= link_to "#{contact[:first_name]} #{contact[:last_name]} (#{contact[:priority].upcase})", "#{@base_url}/contacts/#{contact[:id]}/edit" %>
      </li>
    <% end %>
  </ul>

  <br>
  <p><%= link_to "View all your contacts at #{@contact_campus}", "#{@base_url}/contacts/search?assigned_to[]=#{@person[:id]}" %></p>
</html>