<h1>Editing correspondence_type</h1>

<% form_for(@correspondence_type) do |f| %>
    <%= render :partial => "form", :locals => { :f => f, :correspondence_type => @correspondence_type, :button_label => "Update" } %>
<% end %>
