<h1>New view_column</h1>

<%= error_messages_for :view_column %>

<% form_for(:view_column, :url => view_columns_path) do |f| %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', view_columns_path %>