<script>
  /* hack to make the activescaffold dialog appear fixed */
  function make_calendars_fixed_repeatedly() {
    if ($('#TB_window').length != 0) {
      $('.calendar').css({ 'position': 'fixed'});
      setTimeout("make_calendars_fixed_repeatedly()", 333);
    }
  }
  setTimeout("make_calendars_fixed_repeatedly()", 333);
</script>

<div id="dialog">
  <ul id='<%=@short%>_list'>
    <%= render :collection => instance_variable_get("@#{@singular}_involvements"), :partial => "involvements/involvement_li" %>
    <li id='new_<%=@singular%>_li'>
    <%= link_to_remote image_tag('add.png') + ' ' + @add_title, :url => self.send("new_person_#{@singular}_involvement_url", @person.id), :method => :get, :with => %|'already=' + $('#new_#{@singular}_involvement').is(':visible')| %>
    or
      <a id="TB_closeWindowButton" href="#">close</a>
    </li>
  </ul>
</div>
