<%- help_block do -%> 
  <h3>Editting School Years</h3>
  <p>School years show up on a persons profile. 
  They simply help distinguish what year each student is in.
  They do not have to be simply numbers, or year one. They can also include titles such as "First Year Undergrad" or such.</p>
  
  <p>To edit the name of a school year, click the edit button beside it and then click "Save Changes" underneath it.
  Click destroy to get rid of a school year, and "Add a new School Year" to, well, add a new school year.
  You can also change the order School years show up by dragging and dropping them.</p>
<%- end -%>
<h1>Listing School Years <%= spinner %></h1>

<table>
  <thead>
    <tr>
      <th width="20px"></th>
      <th width="100px">Name</th>
      <th width="100px">Level</th>
      <th width="50px"></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="school_years">
    <%= render @school_years %>
  </tbody>
</table>

<br />
<%= link_to_remote('Add a new school year', :url => new_school_year_path, :before => "$('#spinner').show()", :method => :get) %> 
<br/><br/>
<div id="school_year">
  
</div>

<%= sortable_element( 'school_years',
	:url => { :action => "reorder" },
	:complete => visual_effect(:highlight, 'school_years' ),
	:handle => 'drag_me')
%>