<h1>Listing correspondences</h1>

<table>
  <tr>
    <th>Person</th>
    <th>Last sent at</th>
    <th>Acknowledged</th>
  </tr>

<% @correspondences.each do |correspondence| %>
  <tr>
    <td><%=h correspondence.person.full_name %></td>
    <td><%=h correspondence.last_sent_at %></td>
    <td><%=h correspondence.acknowledged %></td>
    <td><%= link_to 'Acknowledge', correspondence %></td>
  </tr>
<% end %>
</table>

<br />
