<h1>New address</h1>

<%= error_messages_for :address %>

<% form_for(:address, :url => addresses_path) do |f| %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', addresses_path %>