<h1>New Directory View</h1>

<%= error_messages_for :view %>

<% form_for(:view, :url => views_path) do |f| %>
  <p>View Name: <%= f.text_field :title %></p>
  <p>
    <%= submit_tag "Next >>" %> or <%= link_to 'Back', customize_path(@ministry) %>
  </p>
<% end %>

