<li id='ci_li_edit_<%= @campus_involvement.id %>'>
<div class='inline_ajax_form'>
<% remote_form_for(@campus_involvement, 
                   :url => person_campus_involvement_url(@person.id, @campus_involvement.id),
                   :method => :post) do |f| %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save' %>
  or
  <%= link_to_function 'cancel', "$(\"#ci_li_edit_#{@campus_involvement.id}\").replaceWith(\"\"); $(\"#ci_li_#{@campus_involvement.id}\").show();" %>
<% end %>
</div>
</li>

