<div id="dialog">
  <ul id='ci_list'>
    <%= render :collection => @campus_involvements, :partial => 'campus_involvement_li' %>
    <li id='new_campus_li'>
      <%= link_to_remote image_tag('add.png') + ' Add Campus', :url => new_person_campus_involvement_url(@person.id), :method => :get, :with => %|'already=' + $('#new_campus_involvement').is(':visible')| %>
    or
      <a id="TB_closeWindowButton" href="#">close</a>
    </li>
  </ul>
</div>
