<h1> Your Promotions</h1>
<br />
<%- if @person.people_responsible_for.find :first -%>
	<h3> People Your are Responsible For </h3>
	<br />
	<table>	
		<tr><th><h4>Name</h4></th>
		<td><h4>Current Role</h4></td>
		<td><h4>Description</h4></td>
		<td><h4>Next Role</h4></td>
		<td><h4>Promote?</h4></td>
		</tr>	
		<%- @person.people_responsible_for.each do |person| -%>
			<%= render :partial => 'person_responsible_for', :locals => {:person => person} %>
		<%- end -%>
	</table>
<%- end -%>

<%- if @people_to_promote && @people_to_promote != []-%>
	<br />
	<h3> Students You Can Promote In Your Ministry</h3>
	<br />
	<table>	
		<tr><th><h4>Name</h4></th>
		<td><h4>Current Role</h4></td>
		<td><h4>Description</h4></td>
		<td><h4>Next Role</h4></td>
		<td><h4>Promote?</h4></td>
		</tr>	
		<%- @people_to_promote.each do |person| -%>
			<%= render :partial => 'person_to_promote', :locals => {:person => person} %>
		<%- end -%>
	</table>
<%- end -%>

<%- if @person.promotion_requests != [] && @person.promotion_requests.find_by_answer(nil) -%>
	<br />
	<br />
	<h3> Promotion Requests </h3>
	<br>
	<table>
		<tr><th><h4>Promotee</h4></th>
		<td><h4>Current Role</h4></td>
		<td><h4>Next Role</h4></td>
		<td><h4>Responsible Person</h4></td>
		<td><h4>Accept Request?</h4></td>
		<td><h4>Decline Request?</h4></td>
		</tr>
		<%- @person.promotion_requests.each do |promotion| -%>
			<%-unless promotion.answer -%>
				<%= render :partial => 'request', :locals => {:promotion => promotion} %>
			<%- end -%>
		<%- end -%>
	</table>
<%- end -%>	

<%- if @person.requests_responsible_for != [] -%>
	<br />
	<br />
	<h3> Requests You've Made </h3>
	<br />
	<%- @person.requests_responsible_for.each do |request| -%>
		<%=render :partial => 'made', :locals => {:request => request} %>
		<br />
	<%- end -%>
<%- end -%>

