<% if authorized?(:index, :search) %>
  <% if (authorized?(:people, :search) && authorized?(:show, :people) && authorized?(:search, :people)) %>

    <div id="uberSearchContainer">

      <div id="uberSearchBoxContainer">
        <% form_tag url_for(:controller => :search), :method => 'get', :id => 'uberSearchForm' do %>

          <%= render :partial => "/search/uber_search_box", :locals => { :q => q,
                                                                         :default_text => default_text,
                                                                         :input_id => "uberSearchBox",
                                                                         :input_class => "search uberSearchBox",
                                                                         :resultFunction => "layoutSearchBoxResultAction",
                                                                         :resultsClass => "ac_results ac_results_layout",
                                                                         :action_params => "all_results_link=true&actions=true" } %>

          <button type="submit" id="uberSearchButton" value="" title="Click to search">
            <div></div>
          </button>

        <% end %>
      </div>

      <%= link_to(t('title.advanced_search'), url_for(:controller => :people, :action => :directory, :format => :html), :id => "advancedSearchLink") if authorized?(:advanced, :people) %>

      <script type="text/javascript">
        $(document).ready(function() {

          $('#uberSearchBox').on('focus', function() { $('#uberSearchContainer').addClass('focused'); });

          $('#uberSearchBox').on('blur', function() { $('#uberSearchContainer').removeClass('focused'); });

          $('#uberSearchForm').on('submit', function() {
            $('#uberSearchButton').addClass('submitted'); // visual cue that seach has started

            // don't submit on certain conditions
            if( !$('#uberSearchBox').val() || $('#uberSearchBox').val() == "<%= default_text %>" || $('#uberSearchForm').hasClass('preventSubmit') ) {
              return false;
            }
            else {
              $('div.ac_results').hide();
              return true;
            }
          });
        });

        function layoutSearchBoxResultAction(event, info) {
          $('#uberSearchForm').addClass('preventSubmit');
          location.href = $(".acLinkPath", info[0]).html();
        }
      </script>
    </div>

  <% end %>
<% end %>
